<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.josephlimwl.demo1" version="1.0.0">
    <name>Demo1</name>
    <description>desc1</description>
    <author href="http://phonegap.com" email="support@phonegap.com">demo1 author</author>    
	<preference name="phonegap-version"           value="2.5.0" />
    <preference name="orientation"                value="default" />    
	<gap:splash src="screen/screen.png" width="480" height="800" />
</widget>